
  <div class="bg-img">
    <a class="home-button" href="#">
      <%= image_tag("logo.png", class: "rounded-circle") %> CARCNC
    </a>

    <div class="btn_container">
    <%= form_tag '/cars', method: :get, class: 'my_class' do %>
      <%= text_field_tag 'location', nil, placeholder: 'Location', class: 'location_btn ' %> 
      <%= date_field "start_date", "date_input_name", class: 'first_date_btn' %>
      <%= date_field "end_date", "date_input_name", class: 'last_date_btn' %>
      <div class="icon_wrapper">
      <%= submit_tag '', class: 'submit_icon' %>
      <button name="button" type="submit" class="circle">
   f <i class="fas fa-search">
    </i> 
  </button>
  </div>
    <% end %>
     
      
    
    </div>
  

  
 
<select name="cars" class="dropdown-field">
  
  <option value="volvo" ></option>
  <option value="saab">My profile</option>
  <option value="opel">Messages</option>
  <option value="audi">Notifications</option>
  <option value="volvo">Saved cars</option>
  <option value="saab">Add a new offer</option>
  <option value="opel">Share my experience</option>
  <option value="audi">Help</option>
  <option value="audi">Log out</option>
  </select>
  <div class="pullmenu-icon"></div>

<%= image_tag("avatar.png", class: "avatar") %>

</div>