<div class="container">
<div class="bg-img">
</div>
  <div>
    <h3>Your results</h3>
    <p> </p>
  </div>

  <div class="row justify-content-start">
    <% @cars.each do |car|  %>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card" style="width: 18rem;">
          <%= cl_image_tag car.photo.key, height: 180, width: 286, crop: :fill %>
          <div class="card-body">
            <h4 class="card-title"><strong><%= car.model %></strong></h4>
              <p><%= car.capacity %> persons</p>
              <p><%= car.price %>$ /per day</p>
            <%= link_to "Book now", car_path(car), class: "btn btn-info" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <p> </p>
</div>
