<div class="container">
  <h2>Available cars</h2>
  <a href="/cars/new" class="btn btn-outline-warning">Add a new car ?</a>
  <p> </p>
    <div class="row justify-content-center">
      <% @cars.each do |car|  %>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="card" style="width: 18rem;">
            <%= cl_image_tag car.photo.key, height: 180, width: 286, crop: :fill %>
            <div class="card-body">
              <h4 class="card-title"><strong><%= car.model %></strong></h4>
                <p><%= car.capacity %> persons</p>
                <p><%= car.price %>$ /per day</p>
              <%= link_to "Book now", car_path(car) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <p> </p> 
  <a href="/users/sign_in" class="btn btn-info">Sign-in</a>
  <p> </p> 
</div>
