<h1>Please enter new car's details</h1>

<%= form_for(@car) do |f| %>
  <%= f.label :model %>
  <%= f.text_field :model %>
  <%= f.label :capacity %>
  <%= f.number_field :capacity %>
  <%= f.label :price %>
  <%= f.number_field :price %>
  <%= f.submit %>
<% end %>

<p><%= link_to 'Back to the main page', root_path %></p>