<div class="container">
  <div class="row justify-content" >
    <div class="form">
      <h3>Please enter new car's details</h3>
      <p> </p>
      <%= form_for(@car) do |f| %>
        <div class="form-group">
          <%= f.label :model %></p>
          <%= f.text_field :model, class: "form-control", placeholder: "Model" %>
        <div>
        <p> </p>
        <div>
          <%= f.label :capacity %>
          <%= f.number_field :capacity, class: "form-control", placeholder: "Capacity" %>
        </div>
        <p> </p>
        <div>
          <%= f.label :price %>
          <p><%= f.number_field :price, placeholder: "Price" %> per day</p>
        </div>
        <p> </p>
        <div>
          <%= f.label :photo %>
          <%= f.file_field :photo %>
        </div>
        <p> </p>
        <div>
          <%= f.submit class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
  <p><%= link_to 'Back to the selection', cars_path %></p>
  <p><%= link_to 'Back to the main page', root_path %></p>
</div>
