<h1>Please enter new car's details</h1>

<%= form_for(@car) do |f| %>
  <%= f.label :model %>
  <%= f.text_field :model %>
  <%= f.label :user %>
  <%= f.text_field :user %>
  <%= f.label :capacity %>
  <%= f.number_field :capacity %>
  <%= f.label :price %>
  <%= f.number_field :price %>
  <%= f.submit %>
<% end %>

<%= link_to 'Back', root_path %>
<%= link_to 'Book this car', " " %> |