<div class="container">
  <div class="row justify-content-center">
      <h1>Please enter new car's details</h1>

    <div class="col-md-2">

      <%= form_for(@car) do |f| %>
        <%= f.label :model %>
        <%= f.text_field :model %>
        <%= f.label :capacity %>
        <%= f.number_field :capacity %>
        <%= f.label :price %>
        <%= f.number_field :price %>
        <%= f.label :photo %>
        <%= f.file_field :photo %>
        <%= f.submit %></div>
      <% end %>

      <p><%= link_to 'Back to the main page', root_path %></p>
    </div>
  </div>
</div>