<div class="container">
  <div class="row justify-content" >
    <div class="form">
      <h3>Please enter new car's details</h3>
      <%= form_for(@car) do |f| %>
        
        <p><%= f.text_field :model %>
        <%= f.label :model %></p>

        <p><%= f.number_field :capacity %>
        <%= f.label :capacity %></p>

        <p><%= f.number_field :price %>
        <%= f.label :price %> per day</p>

        <%= f.file_field :photo %>
        <%= f.label :photo %>

        <p><%= f.submit %></p>
      <% end %>
    </div>
  </div>
  <p><%= link_to 'Back to the selection', cars_path %></p>
  <p><%= link_to 'Back to the main page', root_path %></p>
</div>
