<h2>Details of the car</h2>

<h2><%= @car.model %></h2>
<p><%= @car.user %></p>
<p><%= @car.capacity %></p>>
<p><%= @car.price %></p>

<p><%= link_to 'Book this car', " " %></p>
<p><%= link_to 'Back to the main page', root_path %></p>