<div class="container">

  <h1>Selected car</h1>
  <p><%= link_to 'Back to the main page', root_path %></p>


  <p>Car's model : <%= @car.model %></p>
  <p>User name : <%= @car.user %></p>
  <p>Capacity : <%= @car.capacity %></p>
  <p>Price : <%= @car.price %>$</p>
    <% if @car.photo.attached? %>
    <%= cl_image_tag @car.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>


  <p><%= link_to 'Book this car', new_car_booking_path(:car_id) %></p>

</div>