<div class="container">
  <div class="img">
    <% if @car.photo.attached? %>
      <%= cl_image_tag @car.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>
  <div class="description">
    <h2><%= @car.model %></h2>
    <p>User name : <%= @car.user %></p>
    <p>Capacity : <%= @car.capacity %> persons</p>
    <p>Price : <%= @car.price %>$ /per day</p>
  </div>
  <a href="http://localhost:3000/cars/car_id/bookings/new" class="btn btn-danger">Reserve</a>
  <p><%= link_to 'Back to the selection', cars_path %></p>

</div>