<div class="container">

  <h1>Selected car</h1>
  <p><%= link_to 'Back to the main page', root_path %></p>


  <p>Car's model : <%= @car.model %></p>
  <p>User name : <%= @car.user %></p>
  <p>Capacity : <%= @car.capacity %></p>
  <p>Price : <%= @car.price %>$</p>

  <p><%= link_to 'Book this car', " " %></p>

</div>